.radio {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
    border-top: 1px solid #005bff;
	padding-top: 15px;
    padding-bottom: 15px;
}

.radio__text {
    margin: 0;
    background: #005bff;
    color: white;
    padding: 15px;
    align-self: baseline;
    border-radius: 10px;
    max-width: 170px;
	width: 100%;
}

.radio__container {
	margin-left: 15px;
	display: flex;
	flex-direction: column;
	width: 75%;
}

.radio__input {

}

.radio__input-text {
    cursor: pointer;
	transition: ease-in .2s ;
	padding: 3px;
	margin: 3px 0 3px 0;
}

.radio__input-text:hover {
    background-color: aliceblue;
	transition: ease-in .2s;
	border-radius: 10px;
}

.radio__input-text_active {
    font-weight: 600;
}