.select {
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	flex-direction: row;
	align-items: center;
	padding-bottom: 15px;
}

.select__text {
margin: 0;
background: #005bff;
color: white;
padding: 15px;
align-self: baseline;
border-radius: 10px;
max-width: 170px;
	width: 100%;
}

.select__container {
	margin-left: 15px;
	width: 75%;
	height: 48px;
	border-radius: 10px;
	border: 1px solid #005bff;
	cursor: pointer;
}

.select__text-input  {

}
